<style>
  .message-content {
    font-family: : Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>
<div class="message-content">
  <div>
    {{body}}
  </div>
  <p>Enviado por: {{created_by}}</p>
  <p>Aplicação: {{application}}</p>
</div>
